<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Amador Cuenca <sphi02ac@gmail.com>" />
    <title>Simple Image Classifier</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@1.0.0"></script>
</head>

<body>
    <div class="container">
        <div class="block">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a href="https://github.com/acuencadev/SimpleImageClassifier" class="navbar-item">
                        <h1 class="title is-4">Simple Image Classifier</h1>
                    </a>
                </div>
                <div class="navbar-end">
                    <a href="https://github.com/acuencadev" target="_blank" class="navbar-item">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                    </a>
                    <a href="https://www.linkedin.com/in/acuencadev/" target="_blank" class="navbar-item">
                        <span class="icon">
                            <i class="fab fa-linkedin"></i>
                        </span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="block">
            <div class="columns">
                <div class="column is-three-fifths">
                    <p>
                        Image Classifier using Tensorflow.js and the
                        Mobilenet model.
                    </p>
                </div>
                <div id="app" class="column">
                    <div class="field">
                        <div v-if="!image" class="file is-centered is-boxed is-success has-name">
                            <label class="file-label">
                                <input @change="loadFile" class="file-input" type="file" accept="image/*">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Upload an image
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div v-else>
                            <div v-if="loading">
                                <p class="is-centered">Loading...</p>
                                <progress class="progress is-small is-primary" max="100">15%</progress>
                            </div>
                            <div v-show="!loading" class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img v-bind:src="image" ref="predictImage" alt="Placeholder image" />
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <ul v-for="prediction in predictions">
                                                <li>{{ prediction.className }}
                                                    ({{ prediction.probability.toLocaleString() }})</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="columns">
                                            <div class="column">
                                                <button @click="removeImage" class="button is-fullwidth">
                                                    Clear
                                                </button>
                                            </div>
                                            <div class="column">
                                                <button @click="predict" class="button is-primary is-fullwidth">
                                                    Predict Again
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>